html {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #333;
}

#nav-title {
  color: white;
  font-weight: 900;
  margin-left: 20px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-container {
  display: flex;
  align-items: center;
}

#linkTo {
  color: white;
  font-weight: lighter;
  opacity: 70%;
  text-decoration: none;
  padding: 12px;
  border-radius: 5px;
}

#linkTo:hover {
  opacity: 100%;
  background-color: #555;
}

/*-----travel page styling-----*/
.home-title-container {
  padding: 10px;
}

/*-----location page styling-----*/
.location-title-container {
  padding: 10px;
}

/*-----travel recs page styling-----*/
.travel-recs-title-container {
  padding: 10px;
}